@model Assignment2.Models.ViewModels.CommunityViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               Last Name
            </th>
            <th>
                First Name
            </th>
            <th>
                Enrollment Date
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Students) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnrollmentDate)
            </td>
            <td>
                <a asp-action="Index" asp-route-id="@item.Id">Select</a> |
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="EditMemberships" asp-route-id="@item.Id">Edit Membership</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

@if (Model.CommunityMemberships != null)
{
    <h3>
        com
    </h3>
    <table class="table">
        <tr>
            @if (Model.CommunityMemberships.Count() != 0)
            {
                <th>Comunity</th>
            }
            else
            {
                <th>No comunity</th>
            }
        </tr>
            @foreach (var item in Model.CommunityMemberships)
            {
            <tr>
                <td>
                    @item.Community.Title
                </td>
            </tr>
        }

        </table>
}