@model Assignment2.Models.ViewModels.AdsViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Show ads for community @ViewData["CommunityTitle"]</h1>

<p>
    <a asp-action="Create" asp-route-id="@ViewData["ID"]">Create New</a>
    <br />
    <a asp-action="Index" asp-controller="Communities">Back to list</a>
</p>
@if (Model.Advertisements.Count() == 0)
{
<p>There are no files to display.</p>
}
else
 {
    <table class="table">
        <thead>
            <tr>
                <th>
                    File Name
                </th>
                <th>
                    Image
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Advertisements)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FileName)
                    </td>
                    <td>
                        <img src="@item.Url" style="max-width: 400px;" />
                    </td>
                    <td>
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
             }
         </tbody>
    </table>
}